# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.venv/
env/
venv/

# Django
*.log
media/
staticfiles/

# Node / React
node_modules/
build/
dist/
.cache/
*.lock

# Environment variables
.env
.env.local
.env.production

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
